<section class="newsletter-signup">
  <div class="container">
    <div class="row">
      <div class="newsletter-signup__intro">
        <p class="h4 light mb-2">{% t 'join_our_newsletter' %}</p>
        <p class="uppercase mb-3 mb-md-0 light">{% t 'newsletter_signup_intro' %}</p>
      </div>
      <div class="newsletter-signup__form">
        {% include forms/jotform/newsletter.html %}
      </div>
    </div>
  </div>
</section>

<section class="contact-block">
  <div class="container">
    <div class="row">
      <div class="contact-block__address">
        <div class="d-flex justify-content-between py-5">
          <p class="mb-0"><a href="{{ site.data.hotel_settings.get_directions_url }}"><span class="uppercase">{{ site.data.hotel_settings.name }}</span><br />{{ site.data.hotel_settings.address.street1 }}<br>{{ site.data.hotel_settings.address.state }}, {{ site.data.hotel_settings.address.city }} {{ site.data.hotel_settings.address.zip_code }}<br>{{ site.data.hotel_settings.address.country }}</a></p>
          <p class="mb-0">
            <a href="tel:{{ site.data.hotel_settings.phone_number }}">{{ site.data.hotel_settings.phone_number }}</a><br />
            <a href="tel:{{ site.data.hotel_settings.alternate_number }}">{{ site.data.hotel_settings.alternate_number }}</a><br />
            <a href="mailto:{{ site.data.hotel_settings.email }}">{{ site.data.hotel_settings.email }}</a>
          </p>
        </div>
      </div>
      <div class="contact-block__credits">
        <div class="py-5">
          <span class="starhotels__logo"
            data-live-edit-settings='hotel_settings'
            data-live-edit-settings-field='starhotels_logo'
            data-live-editable-type='image'
          >
            {% if site.data.hotel_settings.starhotels_logo and site.data.hotel_settings.starhotels_logo.url and site.data.hotel_settings.starhotels_logo.url != '' %}
              {% assign logo_url = site.data.hotel_settings.starhotels_logo.url_xsmall | default: site.data.hotel_settings.starhotels_logo.url %}
              <img src="{{logo_url}}" alt="{{site.data.hotel_settings.starhotels_logo.alt | default: 'Logo' }}" />
            {% else %}
              <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
            {% endif %}
          </span>
          <div class="d-flex justify-content-around">
            <span class="lifestyle__logo"
              data-live-edit-settings='hotel_settings'
              data-live-edit-settings-field='lifestyle_logo'
              data-live-editable-type='image'
            >
              {% if site.data.hotel_settings.lifestyle_logo and site.data.hotel_settings.lifestyle_logo.url and site.data.hotel_settings.lifestyle_logo.url != '' %}
                {% assign logo_url = site.data.hotel_settings.lifestyle_logo.url_xsmall | default: site.data.hotel_settings.lifestyle_logo.url %}
                <img src="{{logo_url}}" alt="{{site.data.hotel_settings.lifestyle_logo.alt | default: 'Logo' }}" />
              {% else %}
                <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
              {% endif %}
            </span>
            <span class="iprefer__logo"
              data-live-edit-settings='hotel_settings'
              data-live-edit-settings-field='iprefer_logo'
              data-live-editable-type='image'
            >
              {% if site.data.hotel_settings.iprefer_logo and site.data.hotel_settings.iprefer_logo.url and site.data.hotel_settings.iprefer_logo.url != '' %}
                {% assign logo_url = site.data.hotel_settings.iprefer_logo.url_xsmall | default: site.data.hotel_settings.iprefer_logo.url %}
                <img src="{{logo_url}}" alt="{{site.data.hotel_settings.iprefer_logo.alt | default: 'Logo' }}" />
              {% else %}
                <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
              {% endif %}
            </span>
            <span class="traveller__logo"
              data-live-edit-settings='hotel_settings'
              data-live-edit-settings-field='traveller_logo'
              data-live-editable-type='image'
            >
              {% if site.data.hotel_settings.traveller_logo and site.data.hotel_settings.traveller_logo.url and site.data.hotel_settings.traveller_logo.url != '' %}
                {% assign logo_url = site.data.hotel_settings.traveller_logo.url_xsmall | default: site.data.hotel_settings.traveller_logo.url %}
                <img src="{{logo_url}}" alt="{{site.data.hotel_settings.traveller_logo.alt | default: 'Logo' }}" />
              {% else %}
                <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
              {% endif %}
            </span>
            <span class="handy__logo"
              data-live-edit-settings='hotel_settings'
              data-live-edit-settings-field='handy_logo'
              data-live-editable-type='image'
            >
              {% if site.data.hotel_settings.handy_logo and site.data.hotel_settings.handy_logo.url and site.data.hotel_settings.handy_logo.url != '' %}
                {% assign logo_url = site.data.hotel_settings.handy_logo.url_xsmall | default: site.data.hotel_settings.handy_logo.url %}
                <img src="{{logo_url}}" alt="{{site.data.hotel_settings.handy_logo.alt | default: 'Logo' }}" />
              {% else %}
                <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="copyright m-2">
  &copy; {{ "now" | date: "%Y" }}
</div>
