---
layout: generic
title_localized:
 en: Services
 es: Services
meta_description_localized:
  en:
permalink_localized:
  en: /services/
  fr: /services/
  it: /services/
meta_tags:
  robots:
---

<section class="pagecopy">
  <div class="pagecopy__row">
    <div class="pagecopy__left">
      <div class="pagecopy__intro">
        {% regionblock services_intro_heading, type:header %}
        <h2 class="h2">See What Make Us One of the Best Hotels in NYC</h2>
        {% endregionblock %}
        {% regionblock services_intro_text, type:text %}
        <p>Whether visiting for business or pleasure, The Michelangelo’s unique Italian hospitality translates into a range of luxury services. Guests are indulged with breakfast in the Lobby Lounge, complete with the finest coffee, as well as convenient services like same-day laundry and dry cleaning. As one of NYC’s best hotels, The Michelangelo lifestyle creates an oasis amidst the rush of the Big Apple.</p>
        {% endregionblock %}
      </div>
      {% assign services = site.data._models.hotel-services | sort: 'order' %}
      {% for item in services %}
      <div class="pagecopy__left__item">
        <h3 class="h3" tabindex="0">{{ item.title }}</h3>

        <div tabindex="0">{{ item.description }}</div>

        {% if item.more_content %}
        <div tabindex="0" class="morecontent">{{ item.more_content }}</div>
        <a href="javascript:void(0);" class="btn btn--readmore readmore-btn">Read More <span class="far fa-plus"></span></a>
        {% endif %}

        {% if item.images %}
        <div class="services-slider">
          <div class="services-slider__wrap">
            {% for carousel in item.images %}
            <div class="services-slider__item">
              <div class="services-slider__content">
                <img src="{{ carousel.url_medium }}" alt="{{ carousel.alt }}">
                <p tabindex="0">{{ carousel.description }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="slider-control">
            <a href="javascript:void(0);" class="slide-prev" id="servicesSliderPrev" aria-label="Press enter for previous slide"><span><i class="far fa-chevron-left"></i></span></a>
            <div class="slider-nav" id="servicesSlider">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="javascript:void(0);" class="slide-next" id="servicesSliderNext" aria-label="Press enter for next slide"><span><i class="far fa-chevron-right"></i></span></a>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="pagecopy__right">
      {% regionblock amenities_intro_heading, type:header %}
      <p class="h3">{% t 'hotel_amenities' %}</p>
      {% endregionblock %}
      <div class="amenities-slider">
        {% assign hotel-amenities = site.data._models.amenities | sort: 'order' %}
        {% for item in hotel-amenities %}
        <div class="pagecopy__right__item">
          <h4 class="h4" tabindex="0">{{ item.name }}</h4>
          <div class="pagecopy__right__content">
            <div class="pagecopy__right__content__icon">
              <img src="{{ item.images.url_small }}" alt="{{ item.images.alt }}" tabindex="0">
            </div>
            <div class="pagecopy__right__content__info" tabindex="0">
              {{ item.description }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="slider-control">
        <a class="slide-prev" id="amenitiesSliderPrev" aria-label="Press enter for previous slide"><span><i class="far fa-chevron-left"></i></span></a>
        <div class="slider-nav" id="amenitiesSlider">
          {% for item in hotel-amenities %}
          <span></span>
          {% endfor %}
        </div>
        <a class="slide-next" id="amenitiesSliderNext" aria-label="Press enter for next slide"><span><i class="far fa-chevron-right"></i></span></a>
      </div>
    </div>
  </div>
</section>
