---
layout: generic
title_localized:
 en: Services
 es: Services
meta_description_localized:
  en:
permalink_localized:
  en: /services/
meta_tags:
  robots:
---

<section class="pagecopy">
  <div class="pagecopy__row">
    <div class="pagecopy__left">
      <div class="pagecopy__intro">
        {% regionblock services_intro_heading, type:header %}
        <h2 class="h2">See What Make Us One of the Best Hotels in NYC</h2>
        {% endregionblock %}
        {% regionblock services_intro_text, type:text %}
        <p>Whether visiting for business or pleasure, The Michelangelo’s unique Italian hospitality translates into a range of luxury services. Guests are indulged with breakfast in the Lobby Lounge, complete with the finest coffee, as well as convenient services like same-day laundry and dry cleaning. As one of NYC’s best hotels, The Michelangelo lifestyle creates an oasis amidst the rush of the Big Apple.</p>
        {% endregionblock %}
      </div>
      {% assign services = site.data._models.hotel-services | sort: 'order' %}
      {% for item in services %}
      <div class="pagecopy__left__item">
        <h3 class="h3" tabindex="0">{{ item.title }}</h3>

        <div tabindex="0">{{ item.description }}</div>

        {% if item.more_content %}
        <div tabindex="0" class="more-content">{{ item.more_content }}</div>
        {% endif %}

        {% if item.images %}
        <div class="services-slider">
          <div class="services-slider__wrap">
            {% for carousel in item.images %}
            <div class="services-slider__item">
              <div class="services-slider__content">
                <img src="{{ carousel.url_medium }}" alt="{{ carousel.alt }}">
                <p tabindex="0">{{ carousel.description }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="slider-control">
            <div class="slide-prev" id="servicesSliderPrev"><span><i class="far fa-chevron-left"></i></span></div>
            <div class="slider-nav" id="servicesSlider">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="slide-next" id="servicesSliderNext"><span><i class="far fa-chevron-right"></i></span></div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="pagecopy__right">
      {% regionblock amenities_intro_heading, type:header %}
      <p class="h3">Hotel Amenities</p>
      {% endregionblock %}
      <div class="pagecopy__right__item">
        <h4 class="h4">24h Free Internet Wi-Fi</h4>
        <div class="pagecopy__right__content">
          <div class="pagecopy__right__content__icon">
            <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1562673175/nkjj4fekchxrmvlu9lm6.png" alt="">
          </div>
          <div class="pagecopy__right__content__info">
            <p>Complimentary WiFi available throughout the hotel</p>
          </div>
        </div>
      </div>
      <div class="pagecopy__right__item">
        <h4 class="h4">Rooms</h4>
        <div class="pagecopy__right__content">
          <div class="pagecopy__right__content__icon">
            <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1562673174/vl1eajw9daic4b4g03uh.png" alt="">
          </div>
          <div class="pagecopy__right__content__info">
            <ul>
              <li>In-room movies with complimentary international satellite stations</li>
              <li>In-room laptop safes</li>
              <li>ADA-compliant rooms</li>
              <li>Complimentary Handy smartphone</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pagecopy__right__item">
        <h4 class="h4">Corporate Events</h4>
        <div class="pagecopy__right__content">
          <div class="pagecopy__right__content__icon">
            <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1562673174/dgfpuptw3kzvxiasrns6.png" alt="">
          </div>
          <div class="pagecopy__right__content__info">
            <p>Events and function space</p>
          </div>
        </div>
      </div>
      <div class="pagecopy__right__item">
        <h4 class="h4">Hotel Services</h4>
        <div class="pagecopy__right__content">
          <div class="pagecopy__right__content__icon">
            <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1562673174/d3dyjfynmwvrvouqtfnu.png" alt="">
          </div>
          <div class="pagecopy__right__content__info">
            <ul>
              <li>100% smoke-free property</li>
              <li>The Lobby Lounge</li>
              <li>Newspaper of your choice</li>
              <li>Laundry/dry cleaning service (a fee may apply)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pagecopy__right__item">
        <h4 class="h4">Fitness</h4>
        <div class="pagecopy__right__content">
          <div class="pagecopy__right__content__icon">
            <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1562673173/izsopqtomzhbdq9p3qqx.png" alt="">
          </div>
          <div class="pagecopy__right__content__info">
            <p>A state-of-the art, 24-hour Executive Fitness Center, including free weights and other modern fitness amenities.</p>
            <p>The fitness center is accessible. For more information, please view our Accessibility Statement.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
