---
layout: home
title_localized:
  en: Home
meta_description:
permalink:
meta_tags:
  robots:
---

<div class="video-container mt-48">
  <div class="video-wrap">
    <iframe id="hotel-video" width="100%" height="599px" src="https://player.vimeo.com/video/272169546?title=0&amp;portrait=0&amp;byline=0&amp;badge=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
</div>

<section class="specialoffers mt-48">
  <div class="specialoffers__wrap">
    <div class="specialoffers__intro">
      <h4 class="overline" tabindex="0">Get a great deal at our Manhattan hotel</h4>
      <h3 class="h3" tabindex="0">Special Offers</h3>
    </div>
    <div class="specialoffers__row">
      {% assign offers = site.data._models.offers | sort: 'order' | limit: 3 %}
      {% for offer in offers %}
      <div class="specialoffers__item">
        <a href="{{ offer.id | permalink: model_dir: 'offers' }}">
          {% assign featured_image = offer.image | default: offer.image %}
          {% include components/image image=featured_image max_width=600 %}
        </a>
        <h3 class="h4"><a href="{{ offer.id | permalink: model_dir: 'offers' }}">{{ offer.name }}</a></h3>
        <p tabindex="0">{{ offer.short_description }}</p>
        <a class="btn btn--primary" href="{{ offer.id | permalink: model_dir: 'offers' }}">View More</a>
      </div>
      {% endfor %}
    </div>
    <a href="/offers/" class="btn btn--readmore">See More <span class="far fa-plus"></span></a>
  </div>
</section>
