.btn {
  border-radius: 5px;

  &--cta {
    position: relative;
    display: inline-block;
    padding: 14px 24px 11px;
    font-family: $family-primary;
    font-size: $base-font-size;
    font-weight: $display4-weight;
    color: $white;
    letter-spacing: normal;
    background-color: $primary;
    border: solid 1px $terciary;
    border-radius: 0;
    @include transition(.3s);

    &:hover {
      color: $primary;
      text-decoration: none;
      background-color: $white;
      border: solid 1px $primary;
    }
  }

  &--primary {
    position: relative;
    display: inline-block;
    padding: 10px 18px 8px;
    font-family: $family-primary;
    font-size: $display7-size;
    font-weight: $display2-weight;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $white;
    border: solid 1px $primary;
    border-radius: 0;
    @include transition(.3s);

    @include media-breakpoint-up(lg) {
      padding: 14px 24px 11px;
      font-size: $base-font-size;
    }

    &:hover {
      color: $white;
      text-decoration: none;
      background-color: $primary;
      border: solid 1px $primary;
    }

    &.disabled, &:disabled {
      color: $primary;
      pointer-events: visible !important;
      cursor: not-allowed;
      background: $white;
      border: solid 1px $primary;
      opacity: .5;
    }
  }

  &--secondary {
    position: relative;
    display: inline-block;
    padding: 10px 18px 8px;
    font-family: $family-primary;
    font-size: $display7-size;
    font-weight: $display2-weight;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $primary;
    border: solid 1px $primary;
    border-radius: 0;
    @include transition(.3s);

    @include media-breakpoint-up(lg) {
      padding: 14px 24px 11px;
      font-size: $base-font-size;
    }

    &:hover {
      color: $primary;
      text-decoration: none;
      background-color: $white;
      border: solid 1px $primary;
    }
  }

  &--readmore {
    padding: 0;
    font-size: $display7-size;
    font-weight: $display4-weight;
    line-height: 24px;
    color: $primary;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;

    span {
      font-size: $display8-size;
    }

    &:hover {
      opacity: .6;
    }
  }
}

.prev-slide, .next-slide {
  text-decoration: none !important;
}

.prev, .next {
  @include transition(.3s);
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 8px 0 0 14px;
  color: $white;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  &:hover {
    opacity: .6;
  }
}

button {
  padding: 0;
  background: transparent;
  border: 0;
}

.form-control {
  width: 100%;
  padding: 13px 12px;
  font-family: $family-primary;
  font-size: $base-font-size;
  color: $dark;
  letter-spacing: normal;
  background-color: $white;
  border: 0;
  border-radius: 0;
  @include placeholder-text($family-primary, $base-font-size, $gray-500)

  &.custom-select {
    font-family: $family-primary;
    font-size: $base-font-size;
    color: $gray-500;
  }
}


label {
  margin-bottom: 10px;
  font-family: $family-primary;
  font-size: $display8-size;
  line-height: 18px;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 2px;
}
