.newsletter-signup {
  padding: 25px 0;
  color: $white;
  text-align: center;
  background: $secondary;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  .container {
    max-width: 780px;
    margin: 0 auto;
  }

  &__intro {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  &__form {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    label {
      font-size: $display9-size;
      color: $white;
      text-transform: none;
      letter-spacing: normal;

      a {
        color: $white;
      }
    }
  }
}

.contact-block {
  background: $terciary;

  &__address {
    @include make-col-ready;
    text-align: center;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
      text-align: left;
    }

    p {
      font-size: $display10-size;
    }
  }
  &__credits {
    @include make-col-ready;
    text-align: center;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    span {
      display: block;
      margin: 0 auto;
    }

    img {
      width: 100%;
    }

    .awards {
      max-width: 370px;
      margin: 0 auto;
    }

    .starhotels-logo {
      width: 154px;
    }

    .lifestyle-logo {
      width: 90px;
    }

    .iprefer-logo {
      width: 52px;
    }

    .traveller-logo {
      width: 47px;
    }

    .handy-logo {
      width: 93px;
    }

  }
}

.bl-1 {
  border-top: solid 1px $secondary;
  border-left: 0;

  @include media-breakpoint-up(lg) {
    border-top: 0;
    border-left: solid 1px $secondary;
  }
}

.mw-475 {
  max-width: 100%;

  @include media-breakpoint-up(xl) {
    max-width: 475px;
  }
}

.footer-nav {
  background: $terciary;
  border-top: solid 1px $secondary;
  border-bottom: solid 1px $secondary; 

  ul {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
  }

  li {
    list-style: none;
    a {
      margin: 0;
      font-size: $display10-size;
      font-weight: $display2-weight;
    }
  }
}
