footer {
  background: $terciary;
}

.newsletter-signup {
  padding: 25px 0;
  color: $white;
  text-align: center;
  background: $secondary;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  .container {
    max-width: 780px;
    margin: 0 auto;
  }

  &__intro {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  &__form {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    label {
      font-size: $display9-size;
      color: $white;
      text-transform: none;
      letter-spacing: normal;

      a {
        color: $white;
      }
    }
  }
}

.contact-block {
  background: $terciary;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__address {
    @include make-col-ready;
    text-align: center;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
      text-align: left;
    }

    p {
      font-size: $display10-size;
    }
  }

  &__credits {
    @include make-col-ready;
    padding: 0;
    text-align: center;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
      padding: 0 15px;
    }

    span {
      display: block;
      margin: 0 auto;
    }

    img {
      width: 100%;
    }

    .awards {
      max-width: 470px;
      margin: 0 auto;
    }

    .starhotels-logo {
      width: 154px;
    }

    .lifestyle-logo {
      width: 90px;
    }

    .iprefer-logo {
      width: 52px;
    }

    .traveller-logo {
      width: 47px;
    }

    .handy-logo {
      width: 93px;
    }

  }
}

.bl-1 {
  border-top: solid 1px $secondary;
  border-left: 0;

  @include media-breakpoint-up(lg) {
    border-top: 0;
    border-left: solid 1px $secondary;
  }
}

.mw-475 {
  max-width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    max-width: 475px;
  }
}

.footer-nav {
  border-top: solid 1px $secondary;
  border-bottom: 0;

  @include media-breakpoint-up(md) {
    border-bottom: solid 1px $secondary;
  }

  ul {
    margin: 0 auto;
    padding: 30px 15px;

    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }
  }

  li {
    text-align: center;
    list-style: none;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    a {
      margin: 0;
      padding: 5px 0;
      font-size: $display10-size;
      font-weight: $display2-weight;
      color: $primary;

      @include media-breakpoint-up(md) {
        padding: 0 5px;
        font-size: $display8-size;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 10px;
        font-size: $display10-size;
      }
    }
  }
}

.toggle-items {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: $white;
  cursor: pointer;
  background: $secondary;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &:before {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 18px;
    font-weight: 400;
    color: $white;
    content: '\f105';
  }

  &.expanded {
    &:before {
      content: '\f107';
    }
  }

  &__body {
    display: none;
    background: $quaternary;

    @include media-breakpoint-up(md) {
      display: block;
      background: transparent;
    }
  }
}

.copyright {
  max-width: 1070px;
  margin: 0 auto;
  padding: 25px 15px;
  font-size: $display8-size;
  font-weight: $display2-weight;
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.social {
  padding: 0 15px;

  ul {
    width: 300px;
    margin: 0 auto;
    padding: 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  li {
    list-style: none;

    a {
      font-size: $display5-size;
      color: $primary;
      @include transition(all .3s);

      &:hover {
        opacity: .6;
      }
    }
  }
}

.credits {
  max-width: 230px;
  margin: 20px auto 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin: 0;
  }

  img {
    width: 100%;
  }
}
