.top-bar {
  position: fixed;
  top: 0;
  z-index: 31;
  width: 100%;
  height: 24px;
  padding: 6px 0 8px;
  overflow: visible;
  font-size: $display11-size;
  font-weight: $display3-weight;
  background: $terciary;

  &__wrap {
    max-width: 1060px;
    margin: 0 auto;
  }

  .drop-down {
    position: relative;
    width: auto;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    list-style: none;
    background: $terciary;
    @include transition(all .3s ease);

    &.closed {
      height: 10px;

      li {
        &:first-child {
          a {
            &:after {
              content: '\f107';
            }
          }
        }
      }
    }

    li {
      padding: 5px 20px;
      font-family: $family-secondary;
      font-size: $display8-size;

      .overline {
        font-size: $display11-size;
        letter-spacing: 1px;
      }

      a {
        display: block;
        text-decoration: none;
      }

      &:first-child {
        margin-bottom: 15px;
        padding: 0 10px;
        font-family: $family-primary;
        font-size: $display11-size;
        cursor: pointer;

        a {
          position: relative;

          &:after {
            margin-left: 5px;
            font-family: 'Font Awesome 5 Pro';
            font-weight: $display4-weight;
            content: '\f106';
          }
          &:before {
            position: absolute;
            top: 0;
            right: 10px;
            width: 1px;
            height: 10px;
            content: '';
            background: $primary;
          }
        }
      }
    }

  }

  .lnk {
    position: relative;
    padding: 0 20px;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 10px;
      content: '';
      background: $primary;
    }
  }
}
