<meta charset="utf-8">

{% include analytics.html %}

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- ITC Century Font -->
<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/31909a9f-a326-44e5-be3e-6b38f343e4f1.css"/>
<!-- Museo Sans Font -->
<link rel="stylesheet" href="https://use.typekit.net/enw1gkr.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">

<link href='/favicon.ico' rel='shortcut icon' type='image/png'>

<script type="text/javascript">
  //Force styles to load before running document.ready functions
</script>