{% comment %}
  note the nav.is-fixed-top must immediately precede div.main for div.main top-margin to work property
{% endcomment %}
<nav class="navbar greedy is-fixed-top nav--main {% if page.url != '/' %}inner-page-nav{% endif %}" id="js-navbar--main">
  <div class="container brand-bar">
    <a class="navbar-brand" href="/">
      <span class="nav__logo"
        data-live-edit-settings='hotel_settings'
        data-live-edit-settings-field='logo'
        data-live-editable-type='image'
      >
        {% if site.data.hotel_settings.logo and site.data.hotel_settings.logo.url and site.data.hotel_settings.logo.url != '' %}
          {% assign logo_url = site.data.hotel_settings.logo.url_xsmall | default: site.data.hotel_settings.logo.url %}
          <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo.alt | default: 'Logo' }}" />
        {% else %}
          <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
        {% endif %}
      </span>
      <span class="nav__logo-secondary"
        data-live-edit-settings='hotel_settings'
        data-live-edit-settings-field='logo_secondary'
        data-live-editable-type='image'
      >
        {% if site.data.hotel_settings.logo_secondary and site.data.hotel_settings.logo_secondary.url and site.data.hotel_settings.logo_secondary.url != '' %}
          {% assign logo_url = site.data.hotel_settings.logo_secondary.url_xsmall | default: site.data.hotel_settings.logo_secondary.url %}
          <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo_url.alt | default: 'Logo' }}" />
        {% else %}
          <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
        {% endif %}
      </span>
    </a>
    <div class="booking-widget-button d-flex justify-content-end align-items-center">
      <div class="languages d-none d-sm-block">
        {% if site.languages.size > 1 %}
          <ul class="languages__nav mb-0 mr-3">
            <li>{% t 'language_name', site.active_lang %}</li>
            {% for lang in site.languages %}
              {% if lang != site.active_lang %}
                <li>
                  <a href="{{page | permalink, locale: lang}}">{% t 'language_name', lang %}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% include components/booking-widget-button %}
    </div>
  </div>
  <div class="container p-0 flex-wrap flex-md-nowrap greedy-bar">
    <div class="d-flex w-100 justify-content-between justify-content-md-center py-md-0">
      <ul class="nav d-none d-sm-flex greedy-nav__links align-items-centre justify-content-center">
        {% assign items = site.data._menus.main.items %}
        {% include nav/nav-item-list.html items=items %}
      </ul>
      <ul class="nav d-flex d-sm-none justify-content-between">
        {% assign items = site.data._menus.mobile.items %}
        {% include nav/nav-item-list.html items=items %}
      </ul>
      <a role="button" aria-label="menu" aria-expanded="false" data-target="navMenu" class="navbar__burger greedy-nav--menu">
        <!-- <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span> -->
      </a>
    </div>
  </div>
  <ul class="nav--device greedy__hidden-links" navMenu>
    <div class="d-block d-md-none lang-mobile">
      {% if site.languages.size > 1 %}
        <ul class="languages__nav">
          <li>{% t 'language_name', site.active_lang %}</li>
          {% for lang in site.languages %}
            {% if lang != site.active_lang %}
              <li>
                <a href="{{page | permalink, locale: lang}}">{% t 'language_name', lang %}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </ul>
</nav>
