// Dining Page Elements
// ==========================================================================
.dine {
  &__content {
    max-width: 1080px;
    margin: 48px auto;
    .col--left {
      hr {
        width: 302px;
        margin-bottom: 24px;
        border-top: 1px solid $primary;
        border-bottom: 0;
      }
      p {
        width: 100%;
        @include media-breakpoint-up(md) {
          max-width: 627px;
        }
      }
    }
    a {
      color: $primary;
      text-decoration: underline;
      word-break: break-all;
    }
  }
}
