// Events Page Elements
// ==========================================================================


.meetings {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  background: $terciary;
  .row {
    max-width: 1064px;
  }
  .col--right {
    padding-left: 12px;
    @include media-breakpoint-up(md) {
      padding-left: 83px;
    }
    hr {
      max-width: 410px;
      margin-bottom: 24px;
    }
  }
}

.rfp {
  padding: 48px 0;
  .col--left {
    hr {
      max-width: 411px;
      margin-bottom: 24px;
    }
  }
  &__contant {
    max-width: 411px;
    margin-right: 130px;
  }
}
