// Shared Page Elements
// ==========================================================================

.skip-main {
  position: absolute;
  top: auto;
  left: -999px;
  z-index: -999;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus, &:active {
    top: auto;
    left: auto;
    z-index: 99999;
    width: 30%;
    height: auto;
    margin: 10px 35%;
    padding: 5px;
    overflow: auto;
    font-size: 1.2em;
    color: $white;
    text-align: center;
    background-color: $black;
    border: 4px solid #ff0;
    border-radius: 15px;
  }
}

.seperator {
  height: 1px;
  margin-bottom: 24px;
  border-bottom: solid 1px $primary;
}

.seperator-white {
  height: 1px;
  margin-bottom: 24px;
  border-bottom: solid 1px $white;
}

.inner-hero {
  height: 240px;
  margin-top: 169px;
  @include media-breakpoint-up(md) {
    height: 600px;
    margin-top: 169px;
  }
}

.intro-with-image {
  margin-top: 120px;
  text-align: center;
  @include media-breakpoint-up(md) {
    margin-top: 100px;
    text-align: left;
  }
  .c-2-col {
    &__row {
      @include media-breakpoint-up(xl) {
        align-items: center;
      }
    }
  }
  .col {
    &--left {
      .col-html-content {
        max-width: 520px;
        padding: 0 12px;
        @include media-breakpoint-up(md) {
          padding: 0 20px;
        }
        @include media-breakpoint-up(xl) {
          margin-right: 120px;
          margin-left: auto;
          padding: 0;
        }
        .h1 {
          margin-bottom: 20px;
          @include media-breakpoint-up(lg) {
            margin-bottom: 48px;
          }
        }
        .h2 {
          margin-bottom: 25px;
        }
        hr {
          display: none;
          max-width: 410px;
          height: 1px;
          margin-bottom: 20px;
          background-color: $primary;
          border: 0;
          @include media-breakpoint-up(md) {
            display: block;
          }
        }
        p {
          display: none;
          margin-bottom: 24px;
          @include media-breakpoint-up(md) {
            display: block;
          }
        }
      }
    }
    &--right {
      .col-image-content {
        img {
          max-height: 700px;
        }
      }
    }
  }
}

.pt-48 {
  padding-top: 48px;
}
.pb-48 {
  padding-bottom: 48px;
}

input[type=date], input[type=number] {
  &:focus {
    outline: 0;
  }
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

  &::-webkit-calendar-picker-indicator {
    font-size: $display6-size;
  }
  &::-webkit-clear-button
  {
    display: none;
    -webkit-appearance: none;
  }
}
