// Shared Page Elements
// ==========================================================================

.skip-main {
  position: absolute;
  top: auto;
  left: -999px;
  z-index: -999;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus, &:active {
    top: auto;
    left: auto;
    z-index: 99999;
    width: 30%;
    height: auto;
    margin: 10px 35%;
    padding: 5px;
    overflow: auto;
    font-size: 1.2em;
    color: $white;
    text-align: center;
    background-color: $black;
    border: 4px solid #ff0;
    border-radius: 15px;
  }
}

.seperator {
  height: 1px;
  margin-bottom: 24px;
  border-bottom: solid 1px $primary;
}

.seperator-white {
  height: 1px;
  margin-bottom: 24px;
  border-bottom: solid 1px $white;
}

.inner-hero {
  height: 240px;
  margin-top: 169px;
  @include media-breakpoint-up(md) {
    height: 600px;
    margin-top: 169px;
  }
}

.bg-terciary {
  background: $terciary;
}
