<form class="contact__wrap" action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.rfp-id }}/" method="post" name="form_{{ site.data.forms.jotform.rfp-id }}" id="{{ site.data.forms.jotform.rfp-id }}"
    accept-charset="utf-8" autocomplete="off">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.rfp-id }}">
    <div class="col-md-6">
      <label for="input_5">First Name</label>
      <input class="form-control custom-input" type="text" id="input_5" name="q5_firstName"  placeholder="John" required>
    </div>
    <div class="col-md-6">
      <label for="input_6">Last Name</label>
      <input class="form-control custom-input" type="text" id="input_6" name="q6_lastName" placeholder="Doe" >
    </div>
    <div class="col-md-6">
      <label for="input_7">Company Name</label>
      <input class="form-control custom-input" type="text" id="input_7"  name="q7_companyName" placeholder="Company Name" required >
    </div>
    <div class="col-md-6">
      <label for="input_14">Contact Number</label>
      <input class="form-control custom-input" type="text" id="input_14" name="q14_phone" d placeholder="555-555-5555" required >
    </div>
    <div class="col-md-12">
      <label for="input_3">Email Address*</label>
      <input class="form-control custom-input" type="email" id="input_3" name="q3_emailAddress" placeholder="Your Email" required>
    </div>
    <div class="col-md-12">
      <label>TYPE OF EVENT:</label>
      <div class="list">
      <label for="input_9_0"><input type="checkbox" id="input_9_0" name="q9_typeOf[]" value="Meeting" >Meeting</label>
      <label for="input_9_1"><input type="checkbox" id="input_9_1" name="q9_typeOf[]" value="Banquet">Banquet</label>
      <label for="input_9_2"><input type="checkbox" id="input_9_2" name="q9_typeOf[]" value="Team Outing">Team Outing</label>
      <label for="input_9_3"><input type="checkbox" id="input_9_3" name="q9_typeOf[]" value="Hotel">Hotel</label>
      <label for="input_9_4"><input type="checkbox" id="input_9_4" name="q9_typeOf[]" value="Wedding">Wedding</label>
      <label for="input_9_5"><input type="checkbox" id="input_9_5" name="q9_typeOf[]" value="Other">Other</label>
      </div>
    </div>
    <div class="col-md-6">
      <label for="input_10">Event Start Date</label>
      <input class="form-control custom-input" type="text" id="input_10" name="q10_eventStart" placeholder="dd-mm-year">
    </div>
    <div class="col-md-6">
      <label for="input_11">Event End Date</label>
      <input class="form-control custom-input" type="text" id="input_11" name="q11_eventEnd" placeholder="dd-mm-year">
    </div>
    <div class="col-md-6">
      <label for="input_12"># of Attendences</label>
      <input class="form-control custom-input" type="text"  id="input_12" name="q12_Of"  placeholder="No of Guest" required>
    </div>
    <div class="col-md-6">
      <label for="input_13"> # of Rooms Required</label>
      <input class="form-control custom-input" type="text" id="input_13" name="q13_Of13" placeholder="No of Rooms" required>
    </div>
    <div class="col-md-12">
      <label for="input_8">Comments</label>
      <textarea id="input_8" name="q8_comment" cols="40" rows="8" placeholder="Tell Us About Your Event" required></textarea>
    </div>
    <div class="form-check mb-4">
    <input class="form-check-input" type="checkbox" aria-label="agree"  name="q4_agreeTo[]" value="Yes" required>
    <p class="form-check-label small" for="input_14_0">
      I agree with  <a href="/terms/"> Terms of Service</a> &  <a href="/privacy/">Privacy Policy</a>
    </p>
  </div>
    <button class="btn btn btn--secondary" type="submit" id="input_2">SEND</button>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.rfp-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.rfp-id }}-{{ site.data.forms.jotform.rfp-id }}";
    </script>
</form>
<script type="text/javascript">
    JotForm.ownerView = true;
</script>
